import(methods)
importFrom(stats, setNames)
importFrom(Matrix, sparseMatrix)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 classes
###

exportClasses(
    ## AnnotatedIDs-class.R:
    AnnotatedIDs,

    ## DGraph-class.R:
    DGraph,

    ## UGraph-class.R:
    UGraph
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S3 methods
###

S3method(summary, DGraph)

### We also export them thru the export() directive so that (a) they can be
### called directly, (b) tab-completion on the name of the generic shows them,
### and (c) methods() doesn't asterisk them.

export(
    summary.DGraph
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 methods for generics not defined in this package
###

exportMethods(
    ## Methods for generics defined in the base package:
    names, "names<-",
    as.vector,
    summary,

    ## Methods for generics defined in the methods package:
    show, coerce,

    ## Methods for generics defined in the S4Vectors package:
    parallelSlotNames
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export non-generic functions
###

export(
    ## AnnotatedIDs-class.R:
    AnnotatedIDs,

    ## DGraph-class.R:
    DGraph,

    ## UGraph-class.R:
    UGraph
)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 generics defined in DelayedArray + export corresponding methods
###

export(
    ## DGraph-class.R:
    nodes, "nodes<-", adjacencyMatrix
)

### Exactly the same list as above.
exportMethods(
    nodes, "nodes<-", adjacencyMatrix
)

